<div class="dsc-hide-post-toggle">
  {{#if isPostHidden}}
    <button aria-label="Hide Post" class="button topic_hidden custom-class-hidden" title="{{i18n 'button_title.hide_post'}}">
    <!--<button class="button topic_visible custom-class-visible" title="{{i18n 'button_title.show_post'}}">-->
      <!--<i class="fas far-eye-slash" style="color: red;"></i> -->
    </button>
  {{else}}
    <button aria-label="Show Post" class="button topic_visible custom-class-visible" title="{{i18n 'button_title.show_post'}}">
    <!--<button class="button topic_hidden custom-class-hidden" title="{{i18n 'button_title.hide_post'}}">-->
     <!-- <i class="fas far-eye"></i> -->
    </button>
  {{/if}}
</div>
